@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Josefin Sans', sans-serif;
  }

  /* Add this to your global CSS or Tailwind config */
@layer utilities {
  .line-clamp-2 {
    @apply overflow-hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
